<div class="container xy-center-container">    
    <div class="row text-center">
        <div class="col-lg-12">
            <form class="form" action="/register" method="POST">
                <h2>Register</h2>
                <div class="form-group margin-below">
                    <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1"><img class="icon" src="/public/icons/user-solid.svg" alt="@"></span>
                        </div>
                        <input type="text"  name="username" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                      </div>
                    <!-- <input type="text" name="username" class="form-control1" id="username" aria-describedby="username" placeholder="Username"> -->
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1"><img class="icon" src="/public/icons/lock-solid.svg" alt="*"></span>
                        </div>
                        <input type="password" name="password"  class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
                      </div>
                    <!-- <input type="password" name="password" class="form-control" id="password" placeholder="Password"> -->
                </div>
                <% if ( typeof status != "undefined") { %>
                <div class="alert alert-<%= type%> <%= status%>" role="alert">
                  <span class="" ><%= message%></span>
                </div>
                      
                <% } %>
                <button type="submit" class="my-btn btn-success">Register</button>
            </form>
        </div>
    </div>
</div>